<div class="row">
    <div class="eurolife-logo" >
        <img class="image-logo" [src]='LOGO' alt="EurolifeConnect" >
    </div>
</div>

<div class="row centered">
    <div class="sign-up-container">
        <div class="circle">
            <div class="regCodeModal" aria-label="icon" [inlineSVG]="imageSource">
            </div>
        </div>
        <p class="h4">{{ title | resourcePipe }}</p>
        <p class="h6" *ngIf="!success">{{ usernameText | resourcePipe }}</p>
        <div *ngIf="errorMsg !== '' " class="error-msg">{{errorMsg}}</div>
        <div *ngIf="successMsg !== '' " class="h6"> {{successMsg}}</div>
        <div class="container" *ngIf="!success">
            <div class="column form-group">
                <!-- <label for="vat">VAT</label> -->

                <!-- <div class="Caption1 birth-date-label">{{ vatR | resourcePipe }}</div> -->

                <mat-form-field>
                    <mat-label>{{ vatText | resourcePipe }}</mat-label>
                    <input class="Caption1" matInput name="vatNo" placeholder="Πληκτρολογήστε το ΑΦΜ σας" id="vatNo"
                        [formControl]="vatno" [(ngModel)]="vatNo" pattern="[0-9]{9}" (ngModelChange)="onVatChange()">
                    <mat-error *ngIf="vatno.invalid">{{ vatError | resourcePipe }}</mat-error>
                </mat-form-field>


                <div class="Caption1 birth-date-label">{{ birthDateR | resourcePipe }}</div>
                <div class="birthdate-container">
                    <mat-form-field class="select-field-container">
                        <mat-label>{{ dayR | resourcePipe }}</mat-label>
                        <mat-select name="day" [(ngModel)]="day" (ngModelChange)="onOptionChange()">
                            <mat-option *ngFor="let item of days" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="select-field-container">
                        <mat-label>{{ monthR | resourcePipe }}</mat-label>
                        <mat-select name="month" [(ngModel)]="month" (ngModelChange)="onOptionChange()">
                            <mat-option *ngFor="let item of months" [value]="item.value">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="select-field-container">
                        <mat-label>{{ yearR | resourcePipe }}</mat-label>
                        <mat-select name="year" [(ngModel)]="year" (ngModelChange)="onOptionChange()">
                            <mat-option *ngFor="let item of years" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <input type="text" id="birthDate" class="form-control" name="birthDate" [(ngModel)]="birthDate" required> -->
            </div>
            <div class="reg-code-modal-container">
                <div class="container">
                    <div class="row justify-content-center">
                        <button class="eurolife_btn eurolife_btn-default submit-btn" type="submit"
                            [disabled]="!gotVatNo || !gotBirthDate" (click)="executeForgotUserNameAction()">{{ next | resourcePipe }}
                        </button>
                    </div>

                    <div class="col-sm-12 modal-cancel-btn">
                        <a class="eurolife_btn-link cancel-color" (click)="onCancelClick()">{{ cancel | resourcePipe }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="reg-code-modal-container">
            <div class="row">
                <div class="col-sm-12">
                    <button class="eurolife_btn eurolife_btn-default submit-btn" type="submit" *ngIf="success"
                        (click)="onCancelClick()">{{ returnLogin | resourcePipe }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container hide-container">
    <hr class="footerSignup">
    <div class="legal Typeface">
        <div class="left-container">
            <div class="Tag Typeface clickable" (click)="openDialog()">{{ oroiXrishs | resourcePipe }} | </div>
            <div class="Tag Typeface clickable" (click)="openDialogLegal()"> {{ prostasiadedomenwn | resourcePipe }}
            </div>
            <div class="Tag Typeface clickable" (click)="cookieClick()">{{ politikicookies | resourcePipe }}</div>
        </div>
        <div class="Tag Typeface copyright">{{ copyright | resourcePipe }}</div>
    </div>
</div>