
<div class="container" *ngIf="showData(); else nodata">
  <div class="row">
    <div class="col-sm-6">
    <div style="display: block;">
      <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  <div class="col-sm-6">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 disable-box-shadow">
      <!-- Fund Name Column -->
      <ng-container matColumnDef="f_name">
        <mat-header-cell *matHeaderCellDef>Funds of Funds</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="circle" [ngStyle]="{'background-color':element.f_colour}"></div> 
          <div class="item_description">{{element.f_name}} </div> 
        </mat-cell>
      </ng-container>
    
      <!-- fund variance Column -->
      <ng-container matColumnDef="f_variance">
        <mat-header-cell ngbTooltip="Από την αρχή του πλάνου έως εχθές" style="justify-content: center;" *matHeaderCellDef>Διακύμανση αποδόσεων</mat-header-cell>
        <mat-cell style="justify-content: center;" *matCellDef="let element"> {{element.f_variance}} </mat-cell>
      </ng-container>

         <!-- factsheet Column -->
         
          <ng-container matColumnDef="factsheet">
            <mat-header-cell style="justify-content: center" *matHeaderCellDef> Factsheet </mat-header-cell>
            <mat-cell style="justify-content: center" *matCellDef="let element">
            <div *ngIf="element.f_variance!=''">                                         <!--not show factsheet in quarantine value-->
              <a href="{{ element.factsheet }}" target="_blank">
                <i class="fa fa-file-o fa-color" aria-hidden="true"></i>
              </a>
            </div>
            </mat-cell>
          </ng-container>
    
    
      
      <mat-header-row class="disable-border" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <!--Ημερομηνιες Αγορών-->
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-breaks-finance Typeface">
             <div class="ice-output">
               <label class="ng-star-inserted">Ημερομηνίες Αγορών</label>
             </div>
        </div>
      </div> 
      </div>  

    <mat-table [dataSource]="dataSourceBuyDates" class="mat-elevation-z8 disable-box-shadow">
      <!-- Fund Name Column -->
      <ng-container matColumnDef="f_name">
        <mat-header-cell *matHeaderCellDef>Funds of Funds</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="circle" [ngStyle]="{'background-color':element.Colour}"></div> 
          <div class="item_description">{{element.FundDescription}} </div> 
        </mat-cell>
      </ng-container>
    
      <!-- fund variance Column -->
      <ng-container matColumnDef="f_variance">
        <mat-header-cell style="justify-content: center;" *matHeaderCellDef>Ημ/νια αγοράς</mat-header-cell>
        <mat-cell style="justify-content: center;" *matCellDef="let element"> {{formatDate(element.DateRef) | date: "dd/MM/yyyy" }} </mat-cell>
      </ng-container>


      <!-- Type -->
      <ng-container matColumnDef="f_type">
        <mat-header-cell style="justify-content: center;" *matHeaderCellDef> Είδος </mat-header-cell>
        <mat-cell style="justify-content: center;" *matCellDef="let element">  {{element.Type}} </mat-cell>
      </ng-container>
    
      
      <mat-header-row class="disable-border" *matHeaderRowDef="displayedColumnsForDates"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsForDates;"></mat-row>
    </mat-table>
 

  </div>



  </div>
</div>

<ng-template #nodata>
  <div class="container table-container">
    Δεν υπάρχουν δεδομένα
  </div>
</ng-template>





<!-- Mobile Version -->

<div class="table-mobile-container">
  <div *ngIf="!showData(); else mobiledata">
    <div class="table-container"> Δεν υπάρχουν δεδομένα</div>
 </div>


  <ng-template #mobiledata>

    <div class="col-sm-12">
      <div style="display: block;margin-top: 5px;">
        <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
      </div>
    </div>
   
      <div class="fund-container" *ngFor="let element of ELEMENT_DATA">
        <div class="status-btn-container">
        
            <!-- <div class="status-text">....</div> -->
          <div class="mobile_circle" [ngStyle]="{'background-color':element.f_colour}"></div>
      
          <div (click)="fundCollapse(element)" class="profile svg-icons" [ngClass]="{'msg-click': element.f_active}"  [onSVGLoaded]="handleSVG" [inlineSVG]="getIcon('F9608FE2FC564FADADE1BF388EB367D9')">
          </div>
          <!-- <button (click)="mobileReceiptCollapse(i)">{{collapse | resourcePipe }}</button> -->
        </div>
          <div class="typeface caption3 receipt-mobile-label">Funds of Funds</div>
          <div class="h6 value">{{element.f_name}}</div>
  
          <div *ngIf="element.f_active">
              <div class="hor-line"></div>
              <div class="h6 receipt-mobile-label">Διακύμανση αποδόσεων</div>
              <div class="typeface caption3 receipt-mobile-value"> {{element.f_variance}}</div>

              <div class="hor-line"></div>
              <div class="h6 receipt-mobile-label">Factsheet</div>
              <a href="{{ element.factsheet }}" download>
                <div class="fa-file-container">
                  <i class="fa fa-file-o fa-color" style="font-size: 32px;" aria-hidden="true"></i>
                </div>
              </a>


          </div>    
  
      </div>
  
       <!--Ημερομηνιες Αγορών-->
  
       <div class="col-sm-12">
        <div class="section-breaks-finance Typeface">
             <div class="ice-output">
               <label class="ng-star-inserted">Ημερομηνίες Αγορών</label>
             </div>
        </div>
      </div> 
  
       <div class="fund-container" *ngFor="let element of dataSourceBuyDates">
        <div class="status-btn-container">
        
            <!-- <div class="status-text">....</div> -->
          <div class="mobile_circle" [ngStyle]="{'background-color':element.Colour}"></div>
      
          <div (click)="fundDateCollapse(element)" class="profile svg-icons" [ngClass]="{'msg-click': element.Active}"  [onSVGLoaded]="handleSVG" [inlineSVG]="getIcon('F9608FE2FC564FADADE1BF388EB367D9')">
          </div>
          <!-- <button (click)="mobileReceiptCollapse(i)">{{collapse | resourcePipe }}</button> -->
        </div>
          <div class="typeface caption3 receipt-mobile-label">Funds of Funds</div>
          <div class="h6 value">{{element.FundDescription}}</div>
  
          <div *ngIf="element.Active">
              <div class="hor-line"></div>
              <div class="h6 receipt-mobile-label">Ημ/νια αγοράς</div>
              <div class="typeface caption3 receipt-mobile-value"> {{formatDate(element.DateRef) | date: "dd/MM/yyyy" }}</div>
  
              <div class="hor-line"></div>
              <div class="h6 receipt-mobile-label">Είδος</div>
              <div class="typeface caption3 receipt-mobile-value">{{element.Type}} </div>
  
          </div>    
  
      </div>

  </ng-template>
  

</div>
