<mat-toolbar class="toolbar">
  <mat-toolbar-row class="container nav" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
      <a [routerLink]="'#'" class="hide-on-mobile"
        ><img src="/assets/icons/Fadata-logo-white.svg" style="height: 36px;" alt=""
      /></a>
      <button mat-button class="show-on-mobile" (click)="toggleMobileNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="center center">
      <nav class="nav-list" [ngClass]="{ 'is-shown': showMobileNav }">
        <a
          class="tab"
          *ngFor="let n of navigation"
          [routerLink]="n.link"
          [ngClass]="{ active: isSelectedTab(n) }"
          >{{ n.key }}</a
        >
        <button mat-button class="show-on-mobile btn-close-mobile-nav" (click)="toggleMobileNav()">
          <mat-icon>close</mat-icon>
        </button>
      </nav>
    </div>

    <div fxLayoutAlign="end center">
      <language-picker></language-picker>

      <mat-menu #appMenu="matMenu" xPosition="before">
        <ng-template ngFor let-menuItem [ngForOf]="menuItems">
          <button mat-menu-item (click)="menuItem.method()">
            {{ menuItem.key }}
          </button>
        </ng-template>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu" class="user-name">
        <span class="hide-on-mobile">{{ name }}</span>
        <mat-icon class="show-on-mobile">person</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
