<mat-toolbar class="toolbar">
  <mat-toolbar-row class="container nav" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
      <a [routerLink]="'#'"
        ><img src="../../../assets/icons/Fadata-logo-white.svg" style="height: 36px;"
      /></a>
    </div>
    <div fxLayoutAlign="center center">
      <a
        class="tab"
        *ngFor="let n of navigation"
        [routerLink]="n.link"
        [ngClass]="{ active: isSelectedTab(n) }"
        >{{ n.key }}</a
      >
    </div>

    <language-picker></language-picker>

    <div fxLayoutAlign="end center">
      <mat-menu #appMenu="matMenu" xPosition="before">
        <ng-template ngFor let-menuItem [ngForOf]="menuItems">
          <button mat-menu-item (click)="menuItem.method()">
            {{ menuItem.key }}
          </button>
        </ng-template>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu">
        {{ name }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
