@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ice-master-light-app-primary: mat-palette($mat-blue);
$ice-master-light-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ice-master-light-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ice-master-light-app-theme: mat-light-theme($ice-master-light-app-primary, $ice-master-light-app-accent, $ice-master-light-app-warn);
