@import 'node_modules/@angular/material/theming';
@import 'node_modules/@impeo/ng-ice/styles/ng-ice.mixin';
//@import 'node_modules/@impeo/visual-ice/styles/visual-ice.mixin';


//@import '../../../../node_modules/@impeo/ng-ice/styles/components/ice-page-navigation.mixin.scss';
//@import '../../../../node_modules/@impeo/impeo-custom-components/styles/impeo-custom-components.mixin';

@import './ice-master-material-light.scss';
@import './ice-master-material-custom.scss';
@import '../Mixin/ice-registration-page-component.mixin.scss';

@import '../../../../../libs/ice-custom-components/src/lib/components/element-components/calendar/calendar.mixin.scss';
@import '../../../../../libs/ice-custom-components/src/lib/components/element-components/output-with-action/output-with-action.mixin.scss';
@import '../../../../../libs/ice-custom-components/src/lib/components/section-components//motor-custom-table/motor-custom-table.section.mixin.scss';
@import '../../../../../libs/ice-custom-components/src/lib/components/element-components/time-picker/time-picker.mixin.scss';

@import '../../../../../libs/ice-custom-components/src/lib/components/element-components/avatar-element.component/avatar-element.component.scss';

$show-required-label-suffix: true;
$show-required-bottom-border: false;

@include mat-core();

//@include angular-material-theme($ice-master-light-app-theme);
//@include ng-ice-mixin($ice-master-light-app-theme);
//@include impeo-custom-components-mixin($ice-master-light-app-theme);

@include angular-material-theme($ice-master-light-app-theme);
@include ng-ice-mixin($ice-master-light-app-theme);
// @include visual-ice-mixin($ice-master-light-app-theme);
@include ice-element-insight-mixin($ice-master-light-app-theme);
@include ice-registration-page-component-mixin($ice-master-light-app-theme);

@include ice-calendar-mixin();
@include avatar-element-mixin();


@include output-with-action-mixin();
@include time-picker-mixin();
@include motor-custom-table-section-mixin($ice-master-light-app-theme);

$background: map-get($ice-master-light-app-theme, background);
$primary: map-get($ice-master-light-app-theme, primary);


html{
    @media screen and (max-width: 768px) {
        overflow-x: hidden;
        max-width: 100vw;
     }
}

body{
    background-image: map-get($background, gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

mat-card{
    background-color: transparent !important;
}

.mat-raised-button {
    color: mat-color($primary, 700);
}

.mat-button-toggle{
    border: solid 1px;
    min-width: 80px;
}

.mat-button-toggle-group .mat-button-toggle:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.mat-button-toggle-group .mat-button-toggle:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.mat-button-toggle-checked {
    color: mat-color($primary, 700);
    border-color: white;
}

.mat-button-toggle-group{
    box-shadow: none !important;
}

.mat-button-toggle-button{
    width: 100%;
}

.mat-button-toggle-disabled.mat-button-toggle-checked{
    background: white;
}
