.error-msg{
        margin: -10px 0 0 0px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ef3340;
    }

.form-group-style{
    margin-top: 0px;
    height: 45px;
}