<div class="bounceInRight animated">
  <!-- <div class="modal-container">
  <div class="close" aria-label="My icon" [inlineSVG]="closeImageSource" [onSVGLoaded]="handlecloseSVG" (click)="closeClick()">
  </div>
</div> -->
  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Σημαντική Ενημέρωση!</h4>
    <div class="close" aria-label="My icon" [inlineSVG]="closeImageSource" [onSVGLoaded]="handlecloseSVG"
      (click)="closeClick()">
    </div>
  </div>

  <div class="modal-body">
    <p>
      Είμαστε στην ευχάριστη θέση να σας ανακοινώσουμε ότι η Eurolife FFH Ασφαλιστική,
      πέτυχε για το έτος 2019 την εξαιρετική απόδοση του <b>4,02% </b> στα ομαδικά ασφαλιστήρια συμβόλαια διαχείρισης
      κεφαλαίου εγγυημένου επιτοκίου.
    </p>
    <br />
  </div>

</div>