<ng-container>
 
     
      <!-- <ng-template>
        <div class="mat-elevation-z8">
          <mat-table class="table-container" mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="Created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Επισύναψη</th>
            <td mat-cell *matCellDef="let row" [style.color]="row.Created">{{ row.Created }}</td>
          </ng-container>

          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Τίτλος</th>
            <td mat-cell *matCellDef="let row">{{ row.Title }}</td>
          </ng-container>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </ng-template> -->


      <mat-table [dataSource]="dataSource" class="">
        
        <!-- Fund Name Column -->
        <ng-container matColumnDef="Created">
          <mat-header-cell  style="flex: 0 0 200px;justify-content: center;" *matHeaderCellDef> Επισύναψη </mat-header-cell>
          <mat-cell  style="flex: 0 0 200px;text-align:center;justify-content: center" *matCellDef="let element"> {{element.Created}} </mat-cell>
        </ng-container>

        <!-- Net Value Column -->
        <ng-container matColumnDef="Title">
          <mat-header-cell style="justify-content: center;" *matHeaderCellDef> Τίτλος </mat-header-cell>
          <mat-cell style="justify-content: center;" *matCellDef="let element"> {{element.Title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Download">
          <mat-header-cell style="justify-content: center;" *matHeaderCellDef> </mat-header-cell>
          <mat-cell style="justify-content: center;" *matCellDef="let element"   (click)='downloadDoc(element.FileID)' [class.btn-minh-load]="showSpinnerBtn"
          [class.disable-btn]="showSpinnerBtn">
            <div  *ngIf="!showSpinnerBtn" aria-label="icon" class="button-icon"
              [inlineSVG]="'https://scp.eurolife.gr/~/media/3D4C3EE53B51434B9A9C20E02FA3B340.ashx'"
              [onSVGLoaded]="handleSVGButton">
            </div >
            <div *ngIf="showSpinnerBtn" class="button-spinner">
              <i class="fa fa-spinner fa-spin fa-lg"></i>
            </div>
          </mat-cell>
       </ng-container>

  
        <mat-header-row class="disable-border" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

</ng-container>
