<!-- TODO: Change urls to Sitecore ones ...joyride counting changes if there are amendments -->
<div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'fifthStep_sixthStep'">
<div class="dropdown" [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_fifthStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
  <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
    <div class="cicle">
      <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
        [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
      </div>
      <ng-template #showProfilePictyre>
        <img class="cicle" [src]=profilePicture>
      </ng-template>
    </div>
    <div>
      <p class="Caption1">{{fullName}}</p>
    </div>
    <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
  </div>
  <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
    <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->

    <div class="first">
      <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
        (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
    </div>

    <div *ngIf="showDocs" class="second" joyrideStep="home_sixthStep" stepPosition="left" title="Βεβαιώσεις & Ενημερώσεις"  text="Πατώντας εδώ μπορείτε να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, τις Ετήσιες Ενημερώσεις, κλπ.">
      <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
        (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
    </div>

    <div class="third">
      <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
    </div>

    <div class="forth">
      <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
    </div>
  </div>
</div>
</div>

<div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'fifth_Step'">
<!-- TODO: Change urls to Sitecore ones -->
<div class="dropdown"  [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_fifthStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
  <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
    <div class="cicle">
      <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
        [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
      </div>
      <ng-template #showProfilePictyre>
        <img class="cicle" [src]=profilePicture>
      </ng-template>
    </div>
    <div>
      <p class="Caption1">{{fullName}}</p>
    </div>
    <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
  </div>
  <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
    <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->

    <div class="first">
      <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
        (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
    </div>

    <div *ngIf="showDocs" class="second">
      <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
        (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
    </div>

    <div class="third">
      <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
    </div>

    <div class="forth">
      <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
      </div>
      <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
    </div>
  </div>
</div>
</div>

<div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'fourthStep_fifthStep'">
  <div class="dropdown"  [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_fourthStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
    <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
      <div class="cicle">
        <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
          [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
        </div>
        <ng-template #showProfilePictyre>
          <img class="cicle" [src]=profilePicture>
        </ng-template>
      </div>
      <div>
        <p class="Caption1">{{fullName}}</p>
      </div>
      <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
    </div>
    <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
      <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->
  
      <div class="first">
        <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
        </div>
        <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
          (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
      </div>
  
      <div *ngIf="showDocs" class="second" joyrideStep="home_fifthStep" stepPosition="left" title="Βεβαιώσεις & Ενημερώσεις"  text="Πατώντας εδώ μπορείτε να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, τις Ετήσιες Ενημερώσεις, κλπ.">
        <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
        </div>
        <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
          (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
      </div>
  
      <div class="third">
        <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
        </div>
        <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
      </div>
  
      <div class="forth">
        <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
        </div>
        <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'fourth_Step'">
    <!-- TODO: Change urls to Sitecore ones -->
    <div class="dropdown"  [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_fourthStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
      <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
        <div class="cicle">
          <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
            [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
          </div>
          <ng-template #showProfilePictyre>
            <img class="cicle" [src]=profilePicture>
          </ng-template>
        </div>
        <div>
          <p class="Caption1">{{fullName}}</p>
        </div>
        <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
      </div>
      <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
        <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->
    
        <div class="first">
          <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
            (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
        </div>
    
        <div *ngIf="showDocs" class="second">
          <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
            (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
        </div>
    
        <div class="third">
          <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
        </div>
    
        <div class="forth">
          <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
        </div>
      </div>
    </div>
  </div>  

  <div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'thirdStep_fourthStep'">
    <div class="dropdown"  [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_thirdStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
      <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
        <div class="cicle">
          <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
            [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
          </div>
          <ng-template #showProfilePictyre>
            <img class="cicle" [src]=profilePicture>
          </ng-template>
        </div>
        <div>
          <p class="Caption1">{{fullName}}</p>
        </div>
        <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
      </div>
      <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
        <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->
    
        <div class="first">
          <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
            (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
        </div>
    
        <div *ngIf="showDocs" class="second" joyrideStep="home_fourthStep" stepPosition="left" title="Βεβαιώσεις & Ενημερώσεις"  text="Πατώντας εδώ μπορείτε να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, τις Ετήσιες Ενημερώσεις, κλπ.">
          <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
            (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
        </div>
    
        <div class="third">
          <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
        </div>
    
        <div class="forth">
          <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === 'third_Step'">
    <!-- TODO: Change urls to Sitecore ones -->
    <div class="dropdown" [ngClass]="{addBorder: dropdownOpen}" joyrideStep="home_thirdStep" stepPosition="left" title="Το Προφίλ μου"  text="Πατώντας στο ονοματεπώνυμό σας μπορείτε να διαχειριστείτε πληροφορίες για το Προφίλ σας, όπως τηλέφωνο, email, κωδικό ασφαλείας, κλπ. Μπορείτε επίσης να οδηγηθείτε στην ενότητα των Βεβαιώσεων, όπου μπορείτε να δείτε και να κατεβάσετε τις Βεβαιώσεις Καταβολής Ασφαλίστρων, Τόκων, Ετήσιες Ενημερώσεις, κλπ.">
      <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
        <div class="cicle">
          <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
            [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
          </div>
          <ng-template #showProfilePictyre>
            <img class="cicle" [src]=profilePicture>
          </ng-template>
        </div>
        <div>
          <p class="Caption1">{{fullName}}</p>
        </div>
        <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
      </div>
      <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
        <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->
    
        <div class="first">
          <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
            (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
        </div>
    
        <div *ngIf="showDocs" class="second">
          <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
            (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
        </div>
    
        <div class="third">
          <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
        </div>
    
        <div class="forth">
          <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
        </div>
      </div>
    </div>
  </div>  

  <!--No joyride counting changes if there are amendments -->
  <div *ngIf="(null | pipeFunction: getJoyrideSteps : this) === ''">
    <!-- TODO: Change urls to Sitecore ones -->
    <div class="dropdown" [ngClass]="{addBorder: dropdownOpen}">
      <div class="dropdown_menu" id="pofile_dropdown_menu" (click)="toggleDropdown()">
        <div class="cicle">
          <div *ngIf="showAvatar else showProfilePictyre" class="outer_profile"
            [inlineSVG]="('587B1CA564EA46D085F1C755786E2E16' | pipeFunction: getIcon : this)" [onSVGLoaded]="handleSVG">
          </div>
          <ng-template #showProfilePictyre>
            <img class="cicle" [src]=profilePicture>
          </ng-template>
        </div>
        <div>
          <p class="Caption1">{{fullName}}</p>
        </div>
        <div class="arrow"><i class="fa" [ngClass]="('null' | pipeFunction: getArrow : this)"></i></div>
      </div>
      <div class="dropdown_content" [ngClass]="{'d-none': !dropdownOpen}">
        <!-- <div><i class="fa fa-user-circle favicons"></i><a class="Caption3" href="#">My Profile</a></div> -->
    
        <div class="first">
          <div class="profile svg-icons" [inlineSVG]="('D2CAEF0FCE77415C91C4CAB23BE1513B' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/customerProfile"
            (click)="toggleDropdown()">{{ profile | resourcePipe }}</a>
        </div>
    
        <div *ngIf="showDocs" class="second">
          <div class="documents svg-icons" [inlineSVG]="('4D068B5B677746318312AFCC4384DA07' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3" routerLink="/ice/default/customerArea.motor/myDocuments"
            (click)="toggleDropdown()">{{ certificates | resourcePipe }}</a>
        </div>
    
        <div class="third">
          <div class="settings svg-icons" [inlineSVG]="('0D1AE135F1E5400C8013000AEAF8AE91' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="toggleDropdown(); onPreferences()">{{ settings | resourcePipe }}</a>
        </div>
    
        <div class="forth">
          <div class="logout svg-icons" [inlineSVG]="('EC208845F727483BA841E9F5DA958459' | pipeFunction: getIcon : this)">
          </div>
          <a class="Caption3 on-hover" (click)="logout();toggleDropdown()">{{ logOut | resourcePipe }}</a>
        </div>
      </div>
    </div>
  </div>  