@import '~@angular/material/theming';

@mixin app-mixin($theme) {
  $colors: map-get($theme, colors);
  background: map-get($colors, 'background') !important;
  .app-container {
    color: map-get($colors, 'text') !important;
  }
}
