@import '~@angular/material/theming';

@mixin app-mixin($theme) {
  $background: map-get($theme, background);

  .app-root {
    background: mat_color($background, background);
  }

  .margin-10 {
    margin: 10px;
  }
}
