<div class="jumbotron">
  <h1 class="display-4">{{ resources.title | resourcePipe }}</h1>
  <p class="lead">
    Template for creating ICE-based portals
  </p>
  <hr class="my-4" />
  <p>
    This demo uses a simple ICE definition to show how to start with creating ICE-based portals with
    custom ICE components and rules.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/ice/demo/home']"
      >ICE definition example</a
    >
    <a class="btn btn-default btn-lg" href="/visual-ice/" target="_blank" role="button"
      >Visual ICE</a
    >
    <a class="btn btn-default btn-lg" href="#/styleguide" target="_blank" role="button"
      >Styleguide</a
    >
  </p>

  <h1>Pages</h1>
  <ul>
    <li>
      <a routerLink="/ice/customer-home">Customer home</a>
    </li>
    <li>
      <a routerLink="/ice/home">Home</a>
    </li>
    <li>
      <a routerLink="/ice/insis-products.motor.920101-motor-comprehensive.quote">Covers page</a>
    </li>
  </ul>
</div>
