

.eurolife-logo {
  height: 31px;

  .image-logo {
    height: 31px;
  }

  @media only screen and (max-width: 767px) {
    text-align: center;
    margin-top: 34px;
  }

  @media only screen and (min-width: 768px) {
    margin: 30px 0 0 0;
  }
}

.eurolife-logo-connect {
  margin-top: -3px;

  .image-logo {
    height: 31px;
  }
}


.right-side {
  // @media only screen and (max-width: 767px) {
  //   height: 200px;
  //   background-image: none;
  //   background-position-x: 0px;
  //   display: block;
  // }

  @media only screen and (max-width: 767px) {
    height: 200px;
    background-image: none;
    background-position-x: 0px;
    display: block;
  }

  @media only screen and (min-width: 768px) {

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://scp.eurolife.gr/~/media/A2F5FEE969EF415A92F404FC0E07E45B.ashx");
    background-size: cover;
    background-position-x: -160px;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
  }
}



.Eurolife-ERB {

  // width: 169px;
  @media only screen and (max-width: 767px) {
    text-align: center;
    margin-top: 34px;
  }

  height: 31px;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ef3340;

  @media only screen and (min-width: 768px) {
    margin: 30px 0 0 0;
  }
}

.left-container-desktop {

  padding: 0 18px;
  top: 0;
  left: 0;

  @media only screen and (min-width: 820px) {
    position: absolute;
    padding: 0 30px;
  }

  @media only screen and (min-width: 768px) {
    padding: 0 30px;
  }
}

.legal {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: 768px) and (max-width: 1250px) {
    justify-content: center;
    flex-direction: column;
  }

  @media only screen and (max-width: 600px) {

    flex-direction: column;
    justify-content: center;
  }
}

.form-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
}

// .text-content{
//   @media only screen and (min-width: 1024px) {
//     display: flex;
//     flex-direction: column;
//     padding: 0 33px 0 60px;
//   }
// }

.left-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clickable {
  cursor: pointer;
  margin-right: 2px;
}

.video_card {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 '#00000080';
  padding: 14px;

  // margin-left: 67px;
  // margin-right: 66px;
  @media only screen and (min-width: 579px) and (max-width: 767px) {
    flex-direction: row;
    margin: 59px 10px 80px 10px;
    text-align: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.17);
    padding: 14px;
  }

  @media only screen and (max-width: 578px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 59px 10px 80px 10px;
    text-align: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.17);
    padding: 14px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1250px) {
    flex-direction: column;
    // margin: 59px 10px 114px 10px;
    text-align: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.17);
    padding: 14px;
  }

  // @media only screen and (min-width: 1024) {
  //   flex-direction: column;
  //   margin: 59px 10px 114px 10px;
  //   text-align: center;
  //   box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.17);
  //   padding: 14px;
  // }
}

.video {
  // @media only screen and (max-width: 767px) {
  //   margin: 11px 13px 16px 13px;
  // }

  width: 100%;
  display: block;
  background-image: url("../../../../assets-webpacked/eurolife/eurolife_video_thumb.png");
  background-size: cover;

  @media only screen and (min-width: 1251px) {

    max-width: 201px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1250px) {

    margin: 0 0 8px 0;
  }

  // margin: 11px 60px 11px 13px;
}

.overlay {
  // background-color: '#00000075';
  background-color: rgba(0, 0, 0, 0.46);
  height: 113px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  z-index: 3;
  fill: white;
  cursor: pointer;
}

.video_play {
  fill: white;
}

.h6-active {
  color: #ef3340;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.from-logout-message {
  background-color: #e9fcf5;
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.tick-svg {
  fill: #2bea9b;
}

.tick-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;

}

.h4-from-logout {
  margin-top: 64px !important;
}

.h4 {
  @media only screen and (max-width: 767px) {
    text-align: center;
    margin: 64px 55px 48px 55px;
  }

  @media only screen and (max-width: 440px) {
    text-align: center;
    margin: 24px 64px 24px;
  }

  margin-top: 66px;
  margin-bottom: 65px;
}

.eurolife_btn-default {
  width: 294px;
  margin-top: 21.5px;

  @media only screen and (max-width: 767px) {
    width: 266px;
  }
}

.groupping {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 16px 16px 39.75px 16px;
}

.eurolife_btn-stroke {
  margin-top: 23.75px;
  width: 294px;

  @media only screen and (max-width: 767px) {
    width: 266px;
  }
}

.button-row{
  display:flex;
  justify-content: center;
  align-items: baseline;
}

// mat-form-field {
//   padding-right: 52px;
//   @media only screen and (max-width: 767px) {
//     padding-right: 0px;
//   }
// }

.Tag {
  opacity: 0.8;
  color:#383b38;

  @media only screen and (max-width: 767px) {
    color: unset;
    text-align: center;
    // margin: 0 28px 0 18px;
  }

  &:nth-child(1) {
    @media only screen and (max-width: 767px) {
      margin-bottom: 9px;
    }
  }

  &:nth-child(2) {
    @media only screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
}

.informatory {
  position: relative;

  @media only screen and (max-width: 767px) {
    top: 15px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 0 23px 0 42px;
  }

  @media only screen and (min-width: 1024px) {
    margin: 0 65px 0 65px;
  }
}

.notification-informed {
  background-color: #f9e5f0;
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.form-container{
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.mat-form-field {
  max-width: 444px;

  @media only screen and (min-width: 481px) and (max-width: 767px) {
    width: 444px;
    margin: auto;
  }

  @media only screen and (max-width: 480px) {
    max-width: 339px;
    margin: auto;
  }

  @media only screen and (min-width: 768px) {
    margin: 0 10px 0 10px
  }
}

.information_icon {
  fill: #cc046c;
  padding-top: 9px;
  padding-left: 6px;
}

.Caption3 {
  padding: 8px 24px 11px 8px;
  margin-bottom: 0;
  text-align: left;

  @media only screen and (max-width: 1023px) {
    text-align: left;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 8px 8px 11px 8px;
  }

  @media only screen and (max-width: 631px) {
    padding: 8px 8px 11px 8px;
  }
}

.h6-active {
  padding: 0 0 0 8px;
  margin: 0px;

  @media only screen and (max-width: 1250px) {
    text-align: left;
    margin: 0px;
  }
}

.inside-text {
  display: flex;
  flex-direction: column;
}

.text-content {
  @media only screen and (min-width: 1251px) {
    margin-left: 60px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1250px) {
    margin-left: 29px;
  }
}

::ng-deep .tooltip>.tooltip-inner {
  background-color: #fff !important;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #383b38;
  padding: 16px 15px 16px 19px;
  border-radius: 4px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  opacity: unset;
}

::ng-deep .tooltip>.arrow {
  display: none;
}

.eye-svg{
  z-index: 10;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.down-divider {
  box-sizing: border-box;
  height: 2.5px;
  width: 293px;
  border-bottom: 0.5px solid #B5B5B5;
}