
///new ones

.main-container{

  @media (max-width: 700px) {
  display: none;
  }

}

.mat-row {

  border-style: none ;
  margin: auto;
  height: 110px;
  
  }
  
  
  .disable-box-shadow{
      box-shadow: none;
  }
  
  
  
  .fa-color{
      color: #007bffd9;
  }
  
  
  .disable-border{
      border-style: none;
  }

  .mt-19 {
   margin-top: 19px;
  }

  .mb-50 {
    margin-bottom: 50px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  hr {
    width: 100%;
    height: 1px;
    border-top: solid 0.5px #b5b5b5;
    margin: 0px;
    padding: 0px;
}

.value {
font-size: large;
font-weight: 500;
}

.table-mobile-container 
{
  display: none;

  @media (max-width: 1100px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  padding-bottom: 135px;

}

.fund-container {
  width: 100%;
  background-color: #eeeeee;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.status-btn-container {
  display: flex;
  justify-content: space-between;
}

.status-container {
  width: 95px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: #2bea9b;
  margin-right: 10px;
  justify-content: center;
  @media (max-width: 1100px) {
    width: 100px;
  }
}

.status-text {
  color: white;
}

.svg-icons {
  cursor: pointer;
  transform: rotate(90deg);
}

.msg-click{
 
  transform: rotate(-90deg);

}

.receipt-mobile-label {
  margin: 8px 0;
}

.hor-line {
  border-top: 0.5px solid #b5b5b5;
  margin-right: 15px;
  margin: 15px 15px 15px 0;
}

.header-row-grey{
  background-color: #EEEEEE;
  padding: 10px;
  font-family: Ubuntu Medium;
  font-weight: 600;
}

.mobile-padding {

  margin-left: 0px;
  align-self: start;
  width: 100%;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right:5px;
  background-color: red;
}

.chartjs-render-monitor{
  margin-top: -43px;
  height: 90% !important;
}


.table-mobile-container{

  .chartjs-render-monitor{
    margin-top: 0px !important;
    height: 90% !important;
  }
  

}




  
  
