@import '~@angular/material/theming';

@mixin ice-output-mixin($theme) {
    $foreground: map-get($theme, foreground);

    .ice-output {
        label {
            color: mat-color($foreground, text);
            margin-right: 10px;
            font-weight: bold;
        }        
    }
}