<div class="modal-container">
  <div class="close" aria-label="My icon" [inlineSVG]="closeImageSource" [onSVGLoaded]="handlecloseSVG"
    (click)="onNoClick()">
  </div>
</div>
<div class="modal-container">
  <div class="success-img-svg parent" aria-label="Success icon" [inlineSVG]="imageSource" [onSVGLoaded]="handleSVG">
  </div>
</div>
<div class="modal-body">
  <p class="Typeface h2 text-center success-title">
    Καλώς Όρισες
  </p>
  <br />
  <br />
  <p class="Typeface h5 text-center success-text">
    Συγχαρητήρια ολοκληρώθηκε επιτυχώς η εγγραφή σας στο ομαδικό ασφαλιστήριο της Eurolife FFH.
  </p>
  <br />
  <p class="Typeface h5 text-center success-text">
    Η εικόνα του ασφαλιστικού σας προφίλ θα είναι διαθέσιμη τις επόμενες ημέρες. 
  </p>
  <br />
  <div class="div-style">
    <button 
			mat-stroked-button
			class="eurolife_btn eurolife_btn-default eurolife_btn-claims button-ok"
			[disabled]="" 
			(click)="onOK()" >
		ΟΚ
	</button>
  </div>
  
</div>