
//global colors
$color-text: #484848;
$color-impeo: #0099ff;

//home
//TODO: replace with angular material color variables
$color-teaser: $color-impeo;
$color-teaser-background: #f3f3f3;
$color-hr: rgba(0,0,0,.1);
