@mixin respond-to($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if not $width {
    $width: $breakpoint;
  } @else {
    $width: $width - 1;
  }
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin respond-from($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if not $width {
    $width: $breakpoint;
  }
  @media (min-width: #{$width}) {
    @content;
  }
}

@function get-mat-color($theme, $palette: primary, $hue: default, $opacity: null) {
  $palleteColor: map-get($theme, $palette);
  @return mat-color($palleteColor, $hue, $opacity);
}

@function get-color($theme, $color) {
  $colors: map-get($theme, 'colors');
  @return map-get($colors, $color);
}

@mixin make-card($theme) {
  @extend .u-p-4;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: get-color($theme, 'background');

  .section-title,
  h2 {
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: 0.0083em !important;
    margin-bottom: 16px;
  }
}
