$ice-demo-page-set-background-image: false !default;
$ice-demo-page-background-image-url: '../../../../node_modules/@impeo/ng-ice/assets-webpacked/arctic.jpg' !default;

$ice-one-page-set-background-image: false !default;
$ice-one-page-background-image-url: '../../../../node_modules/@impeo/ng-ice/assets-webpacked/arctic.jpg' !default;

//TODO: define later
$breakpoints: (
  'xs': 568px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1176px,
  'xl': 1440px,
  'xxl': 1680px
);
