@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');


// How to extend AMT -> https://dev.azure.com/impeo-work/K-M%20MyDog/_git/k-m-customer-portal?path=%2Fangular%2Fsrc%2Fstyles%2Fthemes%2Fice-master-material-custom.scss
// https://github.com/angular/components/blob/9db13336393eab8bebbc151043917829fa0bb013/src/material/core/theming/_palette.scss

// @mat-typography-level arguments are: font-size, line-height, font-weight, font-family, letter-spacing
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em), // Not in use
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em), // Not in use
  display-2: mat-typography-level(32px, 40px, 300, 'Roboto', 0.25px),  // h1
  display-1: mat-typography-level(28px, 40px, 300, 'Roboto', 0.25px), // h2
  title: mat-typography-level(22px, 24px, 300, 'Roboto', inherit), // h3
  headline: mat-typography-level(18px,24px, 300, 'Roboto', 0.15px), // h4
  subheading-2: mat-typography-level(16px, 24px, 500, 'Roboto', 0.15px), // h5
  subheading-1: mat-typography-level(14px, 24px, 500, 'Roboto', inherit), // h6
  body-2: mat-typography-level(16px, 24px, 400, 'Roboto', 0.25px),// p2
  body-1: mat-typography-level(14px, 24px, 400, 'Roboto', 0.25px), // p1
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0333em), // button
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em), // TBD
  input: mat-typography-level(16px, 1.5, 400, 'Roboto', 0.25px), // input
);

$colors: (
  'success': #408300,
  'success-light': rgba(#408300, 0.15),
  'warning': #996B0F,
  'warning-light': rgba(#996B0F, 0.15),
  'error': #C40404,
  'error-light': rgba(#C40404, 0.15),
  'info': rgba(#287BA4, 0.15),
  'action': #0D78C0,
  'header': #243A76,
  'text': #282828,
  'text-disabled': rgba(#282828, 0.6),
  'title-disabled': rgba(#000000, 0.6),
  'background': #fafafa,
  'border': #ddd,
  'border-input': #919191,
  'light': #fff,
  'badge-1': #767676,
  'badge-2': #ca16c7,
  'badge-3': #673ab7,
  'badge-4': #8a2b00
);

@function color($key: 'action') {
  @return map-get($colors, $key);
}

$all: (
  colors: $colors
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($fontConfig);


$mat-primary: (
  500: color('header'),
  contrast: (
    500: color('light')
  )
);

$mat-accent: (
  500: color('action'),
  contrast: (
    500: color('light')
  )
);

$mat-warn: (
  500: color('error'),
  contrast: (
    500: color('light')
  )
);

// Define the palettes for your theme using the Material Design palettes.
// For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$default-theme-primary: mat-palette($mat-primary);
$default-theme-accent: mat-palette($mat-accent);
$default-theme-warn: mat-palette($mat-warn);

// Create the theme object (a Sass map containing all of the palettes).
$mat-default-theme: mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);


$default-theme: map-merge($mat-default-theme, $all);