@import 'mixins';

@mixin ice-override-mixin($theme) {
  $colors: map-get($theme, colors);
  $primaryColor: get-mat-color($theme, primary);

  .ice-flex-section,
  .ice-array-flex-section {
    &.card {
      @include make-card($theme);
    }

    &.main-side {
      width: 100%;

      @include respond-from('sm') {
        max-width: 470px;
      }

      @include respond-from('md') {
        max-width: 794px;
      }
    }
  }

  .horizontal-list {
    .ice-array-item {
      @include make-card($theme);
      @extend .u-mb-4;
      @extend .u-pt-2;
      @extend .u-pb-2;
    }

    .ice-output {
      label {
        display: block;
        @extend .mat-caption;
      }

      .value {
        display: block;
      }
    }
  }

  .policies-grid {
    > ice-element > .ice-element > ice-array > .ice-array {
      > label {
        display: none;
      }

      @include respond-from('md') {
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-columns: repeat(3, minmax(400px, 1fr));
        //grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }

      > .ice-array-item {
        @include make-card($theme);
      }
    }

    .ice-output {
      label {
        display: block;
        @extend .mat-caption;
      }

      .value {
        display: block;
      }
    }
  }
  .policy-details-objects-grid {
    > ice-element > .ice-element > ice-array > .ice-array {
      > label {
        display: none;
      }

      @include respond-from('md') {
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-columns: 1fr 1fr;
        //grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }

      > .ice-array-item {
        @include make-card($theme);
        margin-bottom: 24px;
      }
    }
  }

  .truncate-value .value {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .label-link {
    .ice-none {
      color: get-color($theme, 'text');
      margin-right: 10px;
      display: block;
      font-size: 12px;
      line-height: 20px;
    }

    button {
      font-weight: 400;
      text-transform: none !important;
      padding: 0 !important;
      display: block;
      font-size: 16px !important;
      line-height: 1 !important;
      height: auto !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .product-card {
    .ice-array-item {
      display: inline-flex;
      width: 50%;

      > div {
        width: calc(100% - 15px);
        margin: 5px;
        padding: 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
        background: get-color($theme, 'background');
      }
    }
  }
  .product-button {
    min-height: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .ice-array-item {
      width: 50%;
      display: inline-flex;
      justify-content: center;

      > div {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: none;
      }
    }
  }

  .insured-objects {
    .ice-array-item {
      display: inline-flex;
      margin-right: 5px;
      width: 45%;
    }
  }

  .back-button {
    .mat-button {
      padding-left: 0;
    }

    .mat-icon {
      font-size: 16px;
      width: 14px;
      height: 18px;
    }
  }

  .output-element {
    .ice-output label {
      margin: 0px;
      display: block;
      //font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: map-get($colors, 'text');
      text-align: left;
      line-height: 16px;
    }

    .ice-output .value {
      margin-top: 2px;
      font-size: 16px;
      padding: 0px;
      //font-family: 'Roboto', sans-serif;
    }
  }

  .insis-datagrid-with-pagination {
    border: 1px solid #ddd;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
  }

  .insis-paginator-with-datagrid {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .three-columns-array {
    > ice-element > .ice-element > ice-array > .ice-array {
      > label {
        display: none;
      }

      @include respond-from('md') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px 16px;
      }

      > .ice-array-item {
        @include make-card($theme);
      }
    }
  }

  .is-primary-icon {
    vertical-align: middle;
    display: flex;
    align-items: center;

    mat-icon {
      color: $primaryColor;
      margin-top: 5px;
    }
  }

  .no-outline {
    .mat-form-field-disabled .mat-form-field-outline-start,
    .mat-form-field-disabled .mat-form-field-outline-gap,
    .mat-form-field-disabled .mat-form-field-outline-end {
      color: transparent !important;
      border-color: get-color($theme, 'background');
    }

    .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
      color: get-color($theme, 'text') !important;
    }

    .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
      color: transparent !important;
    }
  }

  .download-quote-btn {
    margin-top: -21px;
    margin-bottom: 15px;
    .mat-button-wrapper {
      font-size: 12px;
    }
  }

  .cover-addon-info {
    ice-none {
      font: 400 12px/20px Roboto !important;
      letter-spacing: 0.0383em !important;
      color: get-color($theme, 'text-disabled') !important;
      .ice-none {
        margin: 10px 0px !important;
      }
    }
  }

  .grid-with-paginator {
    margin-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
  }
  .grid-paginator {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .mat-checkbox-frame {
    border-width: 2px !important;
  }

  .ice-radiobutton-qroup mat-label:empty {
    display: none;
  }
}
