// Import bootstrap as a single file - ideally, we would import parts only and in between, override bootstrap variables
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Internal imports
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'utilities';

/**
 * TIP: We need to import the themes.scss in order to force its logic execution. Which is in fact
 * logic needed for generating Angular Material Themes.
 */
@import 'themes/themes';

/**
 * TIP: You will need to import here only the themes you plan to use inside your application.
 */
@import 'themes/defualt/default-theme';

.container {
  width: 100%;
  max-width: 1328px; // 1280 max width + padding 24px
  padding: 16px;

  @include respond-from('md') {
    padding: 24px;
  }
}

/**
 * TIP: We create here a root level CSS class which when applied on body (html tag) will
 * lead to actually apply this theme to all children of the body/root-level components.
 * You could change the actual application theme by changing this theme class.
 *
 * Examples of applying theme on body.
 * <body class="default-light-theme">...</body>
 *
 * Example fo apply theme on root application level component
 * app.component.html
 * <div class="app-root container-fluid default-light-theme">
 *     <router-outlet></router-outlet>
 * </div>
 */
.default-light-theme {
  @include all_mixins($default-light-theme);
}

.default-dark-theme {
  @include all_mixins($default-dark-theme);
}

.ice-datepicker {
  // it needs relative position on the contaienr, otherwise the icon is off the screen
  position: relative;

  .mat-form-field-suffix {
    position: absolute;
    bottom: auto !important;
    top: 2.5px !important;
    right: 2px !important;
  }
}

// TODO: This is temporary solution, we need to add option to add custom class to the IceFlexSection
// maybe we should remove default styling of ice-array-item so we don't need to override it in every project
.ice-flex-section,
.default-light-theme .ice-array .ice-array-item {
  // TODO
}

.ice-flex-section,
.ice-array-flex-section {
  &.card {
    @include make-card();
  }

  &.main-side {
    width: 100%;

    @include respond-from('sm') {
      max-width: 470px;
    }

    @include respond-from('md') {
      max-width: 794px;
    }
  }
}

.small-title {
  h2 {
    font-size: 16px;
    font-weight: normal;
  }
}

.button-width-100 {
  button {
    width: 100%;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

mat-radio-button {
  width: 100%;
}

.hide-label .ice-radiobutton-qroup mat-label {
  display: none !important;
}

.ice-radiobutton-qroup mat-label {
  transform: none !important;
  width: 100% !important;
  margin-bottom: 10px;
}

.slider-mirror-labels {
  display: flex;
  align-items: center;

  mat-slider {
    width: calc(100% - 100px);
  }

  mat-output {
    height: 19px;
    display: inline-block;
    margin-top: 23px;
    margin-left: 20px;
  }
}

.user-name {
  text-transform: none !important;
}

.insis-array-item > div > label {
  @extend .mat-h3;
  @extend .u-mb-3;
  @extend .u-text-medium;
  display: inline-block;
}

.half-column {
  .ice-array-item {
    display: inline-block;
    width: 50%;
  }
}

.car-image {
  background-image: url('/assets/icons/car-with-bubbles.png');
  background-repeat: no-repeat;
  height: 209px;
  background-size: contain;
  background-position: center;
}
.inline-cell-elements {
  .ice-element {
    display: inline-block;
    .ice-checkbox {
      display: inline-block;
    }

    .ice-currency {
      padding: 8px 0px;
    }
  }
}

.horizontal-list {
  .ice-array-item {
    @include make-card();
    @extend .u-mb-4;
    @extend .u-pt-2;
    @extend .u-pb-2;
  }

  .ice-output {
    label {
      display: block;
      @extend .mat-caption;
    }

    .value {
      display: block;
    }
  }
}

.label-link {
  .ice-none {
    color: rgba(0, 0, 0, 0.87);
    margin-right: 10px;
    display: block;
    font-size: 12px;
    line-height: 20px;
  }

  button {
    font-weight: 400;
    text-transform: none !important;
    padding: 0 !important;
    display: block;
    font-size: 16px !important;
    line-height: 24px !important;
    height: auto !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.policies-grid {
  > ice-element > .ice-element > ice-array > .ice-array {
    > label {
      display: none;
    }

    @include respond-from('md') {
      display: grid;
      //grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-template-columns: repeat(3, minmax(400px, 1fr));
      //grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }

    > .ice-array-item {
      @include make-card();
    }
  }

  .ice-output {
    label {
      display: block;
      @extend .mat-caption;
    }

    .value {
      display: block;
    }
  }
}
