//import bootsstrap as a single file - ideally, we would import parts only and in between, override bootstrap variables
@import "node_modules/bootstrap/scss/bootstrap";

//import fontawesome, adjust the path for finding fonts
$fa-font-path: "node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

//import primeng
//todo: omega should not be used
// @import "node_modules/primeng/resources/primeng.min.css";
//@import "node_modules/primeng/resources/themes/omega/theme.css";

//internal imports
@import "colors2";

//import ICE material theme
$ice-demo-page-set-background-image: false;
$ice-demo-page-background-image-url: "../../../node_modules/@impeo/ng-ice/assets-webpacked/page-content/demo-page.jpg";
$ice-one-page-set-background-image: false;
$ice-one-page-background-image-url: "../../../node_modules/@impeo/ng-ice/assets-webpacked/page-content/demo-page.jpg";
$ice-registration-page-set-background-image: true;
$ice-registration-page-background-image-url: "../assets-webpacked/demo/registration_page_background_image.jpg";
$ice-registration-page-background-logo: "../assets-webpacked/eurolife/erb_logo_new.png";

@import "./themes/themes";
@import "chat";
@import "crm-chat";
@import "lwc-create-case";
// @import './themes/themes.scss';

// @import url("https://fonts.googleapis.com/css?family=Ubuntu&subset=greek");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=greek');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "abstracts/variables";
@import "abstracts/functions";
@import "vendors/animate";
@import "general";
@import "abstracts/mixins";
@import "base/typography";
@import "vendors/hamburger";
@import "components/buttons";
// @import "components/buttons";

//Nebo: This is a first draft of global grid system:
// For pc resolutions (1024px to 1920px) max-width of the content is set to 1024px and resizing the window, only left and right margin is changed
// for ipads resolutions (up to 1024) max width of the content is set to 768px and resizing the window, only left and right margin is changed
// for screen smaller than 768px (small ipad portraits and iphones) width will change and follow the widht of the page, but margins will be set to 15px on each side
// .container-fluid,
// .container {
//   max-width: 1180px;
//   padding: 30px;
// }
// .container {
//     max-width: 1440px;
// }
// header.container-fluid {
//   padding-bottom: 0px;
//   padding-top: 0px;
// }

// @media (max-width: 1024px) {
//   .container-fluid,
//   .container {
//     max-width: 768px !important;
//   }
// }

// @media (max-width: 768px) {
//   .container-fluid,
//   .container {
//     max-width: 100% !important;
//   }
// }

// hr {
//   margin: 15px 0;
//   border-top: 1px solid $color-hr;
// }

// //headline definitions

// h1 {
//   color: $color-impeo;
//   padding: 7px;
//   font-size: 1.75rem;
// }

// h2 {
//   color: $color-impeo;
//   font-size: 1.35rem;
// }

// .edit-container-button-row {
//   position: absolute;
//   right: 20px;
//   top: 20px;
// }

.container {
    max-width: 1100px !important;
    // @media (max-width: 1024px) {
    //     max-width: unset !important;
    // }
}


.xlRegistrationModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 768px !important;
    max-height: 538px !important;
    height: 538px !important;


    // width: 95% !important;
    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);
        height:100%;

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            border-radius: 0;
        }
    }
}


.xlModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 768px !important;
    max-height: 338px !important;


    // width: 95% !important;
    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            border-radius: 0;
        }
    }
}

.xlVideoModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 768px !important;
    max-height: 338px !important;


    // width: 95% !important;
    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 73%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            border-radius: 0;
        }
    }
}

.xlModal-icon>.modal-dialog {
    min-width: 768px !important;
    max-height: 338px !important;

    @media screen and (max-width: 780px) {
        width: 100vw;
        margin-right: 0;
        margin-left: 0;
        overflow-y: hidden;

    }

    .modal-content {

        @media screen and (max-width: 780px) {
            height: calc(100vh - 110px);
            width: 100vw;
            margin-bottom: -110px;
        }

        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);
    }

    .modal-container {


        @media screen and (max-width: 780px) {
            width: 100vw;
        }

    }

}


.notModal>.modal-dialog {
   // min-width: 220px !important;
    text-align: center;
    display: block;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 220px;
    z-index: 900;
    position: fixed;
    background-color: rgba(255,255,255,1);
    bottom: auto;
    right: 75px;
    font-weight: normal;
    top: 20vh;
    left: auto;
    padding: 20px;
    border-radius: 35px;
    font-size: 13px;


    // width: 95% !important;
    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }

    .modal-content {
        text-align: center;
        display: block;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 220px;
        z-index: 900;
        position: fixed;
        background-color: rgba(255,255,255,1);
        bottom: auto;
        right: 75px;
        font-weight: normal;
        top: 20vh;
        left: auto;
        padding: 20px;
        border-radius: 35px;
        font-size: 13px;

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            border-radius: 0;
        }
    }
}

.notModal-icon>.modal-dialog {
    text-align: center;
    display: block;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 220px;
    z-index: 900;
    position: fixed;
    background-color: rgba(255,255,255,1);
    bottom: auto;
    right: 75px;
    font-weight: normal;
    top: 20vh;
    left: auto;
    padding: 20px;
    border-radius: 35px;
    font-size: 10px;

    @media screen and (max-width: 780px) {
        width: 100vw;
        margin-right: 0;
        margin-left: 0;
        overflow-y: hidden;

    }

    .modal-content {

        @media screen and (max-width: 780px) {
            height: calc(100vh - 110px);
            width: 100vw;
            margin-bottom: -110px;
        }

        text-align: center;
        display: block;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 220px;
        z-index: 900;
        position: fixed;
        background-color: rgba(255,255,255,1);
        bottom: auto;
        right: 75px;
        font-weight: normal;
        top: 20vh;
        left: auto;
        padding: 20px;
        border-radius: 35px;
        font-size: 10px;
    }

    .modal-container {
        @media screen and (max-width: 780px) {
            width: 100vw;
        }
    }

}


.xxlModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 738px !important;
    max-height: 602px !important;

    // width: 95% !important;
    @media screen and (max-width: 780px) {
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;
        // width: 100% !important;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
        }
    }
}

.documentModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 738px !important;
    max-height: 602px !important;

    // width: 95% !important;
    @media screen and (max-width: 780px) {
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;
        // width: 100% !important;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            margin: 180px 0px 0px 0px;
        }
    }
}

.xxxlModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 1100px !important;
    max-height: 602px !important;

    // width: 95% !important;
    @media screen and (max-width: 780px) {
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;
        // width: 100% !important;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            margin-top: 1080px;
            height: auto;
            min-height: 100%;
            width: 100vw;
        }

        @media screen and (max-width: 500px) {
            margin-top: 1800px;
        }
    }
}

.customerModal>.modal-dialog{
    min-width: 1150px !important;
    max-height: 338px !important;
    zoom: 90%;
    min-height: calc(0% - 380px);

    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        top:500px;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 100vw;
            top: 860px;
            right: -20px;
            border-radius: 0;
        }
    }
}



.wtModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 768px !important;
    max-height: 338px !important;


    // width: 95% !important;
    @media screen and (max-width: 780px) {
        // width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;

    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        top:500px;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            height: auto;
            min-height: 100%;
            width: 40vw;
            top: 860px;
            left: 200px;
            border-radius: 0;
        }
    }
}

.eclaimsModal>.modal-dialog {
    // max-width: 1490px !important;
    min-width: 730px !important;
    max-height: 602px !important;

    // width: 95% !important;
    @media screen and (max-width: 780px) {
        width: 100% !important;
        height: 100% !important;
        max-height: unset !important;
        margin: 0;
        padding: 0;
        // width: 100% !important;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: rgb(255, 255, 255);

        @media screen and (max-width: 780px) {
            margin-top: 600px;
            height: auto;
            min-height: 100%;
            width: 100vw;
        }

        @media screen and (max-width: 500px) {
            margin-top: 885px;
        }
    }

    .modal-container {

        .close{
            display: none;
        }

        @media screen and (max-width: 780px) {
            width: 100vw;
        }

    }
}


.backgroundClass {
    mix-blend-mode: multiply;
    background-color: #d8d8d8;
    opacity: 0.7;
}

.grecaptcha-badge {
    display: none !important;
}

.popupMultiContractClass{

    opacity: 0 !important;
  }

.optanon-alert-box-wrapper .optanon-button-more .optanon-alert-box-button-middle button {
    color: getColor(grey, dark) !important;

    &::before {
        color: getColor(grey, dark) !important;
    }
}

.optanon-alert-box-wrapper .optanon-alert-box-body {
    padding-right: 30px;
}

//joy ride css

.joyride-step__header {

    display: flex;
    justify-content: center;
}



.joyride-step__body {
    text-align: justify !important;
}

.joyride-step__container
{
    max-width: 400px;
    width: 381.353px;
    height: 374.647px;
}
