$step-size: 4px;
@for $i from 0 through 10 {
  $current-step: $step-size * $i;

  // margin in all directions;
  .u-m-#{$i} {
    margin: $current-step;
  }

  // margin in X axis
  .u-mx-#{$i} {
    margin-left: $current-step;
    margin-right: $current-step;
  }

  // margin in Y axis
  .u-my-#{$i} {
    margin-top: $current-step;
    margin-bottom: $current-step;
  }

  // margin Top
  .u-mt-#{$i} {
    margin-top: $current-step !important;
  }

  // margin Bottom
  .u-mb-#{$i} {
    margin-bottom: $current-step !important;
  }

  // margin Right
  .u-mr-#{$i} {
    margin-right: $current-step;
  }

  // margin Left
  .u-ml-#{$i} {
    margin-left: $current-step;
  }

  // Padding in all direction
  .u-p-#{$i} {
    padding: $current-step;
  }

  // padding in X axis
  .u-px-#{$i} {
    padding-left: $current-step;
    padding-right: $current-step;
  }

  // padding in Y axis
  .u-py-#{$i} {
    padding-top: $current-step;
    padding-bottom: $current-step;
  }

  // padding Top
  .u-pt-#{$i} {
    padding-top: $current-step !important;
  }

  // padding Bottom
  .u-pb-#{$i} {
    padding-bottom: $current-step !important;
  }

  // padding Right
  .u-pr-#{$i} {
    padding-right: $current-step;
  }

  // padding Left
  .u-pl-#{$i} {
    padding-left: $current-step;
  }
}

.u-mb-0-xs {
  @include respond-to('sm') {
    margin-bottom: 0;
  }
}

.u-mb-4-sm {
  @include respond-to('md') {
    margin-bottom: $step-size * 4;
  }
}

.u-d-inlineblock > ice-element > div {
  display: inline-block;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.u-text-medium {
  font-weight: 500 !important;
}

.u-text-normal {
  font-weight: 400 !important;
}
