<h1>Styleguide 1</h1>
<style>
  h3 {
    margin-top: 50px;
  }
</style>

<h3>Typography</h3>
<p class="mat-display-2">h1 - Login, product name</p>
<p class="mat-display-1">h2 - Main content heade</p>
<p class="mat-title">h3 - Secondary content, dialogs</p>
<p class="mat-headline">h4 - Card header</p>
<p class="mat-subheading-2">h5 - Section 1</p>
<p class="mat-subheading-1">h6 -Section 2</p>

<h3>Toolbar/Header</h3>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    INSIS Portal
  </mat-toolbar-row>
</mat-toolbar>
<br />
<mat-toolbar color="accent">
  <mat-toolbar-row>
    INSIS Portal
  </mat-toolbar-row>
</mat-toolbar>

<h3>Buttons: TODO</h3>
<h5>Basic Buttons</h5>
<div>
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h5>Flat Buttons</h5>
<div>
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h5>Stroked Buttons</h5>
<div>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>
<div>
  <button mat-flat-button color="accent" class="small">Accent</button>
  <button mat-stroked-button color="accent" class="small">Accent</button>
  <button mat-button color="accent" class="small">Accent</button>
</div>

<h3>Form input</h3>
<mat-form-field appearance="outline">
  <mat-label>Input label</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input label</mat-label>
  <input matInput value="with value" />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input label</mat-label>
  <input matInput value="with value" disabled />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Textarea label</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Select label</mat-label>
  <select matNativeControl required>
    <option value=""></option>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<br /><br />
<mat-radio-group>
  <mat-radio-button value="1" checked="true">
    Option 1
  </mat-radio-button>
  <mat-radio-button value="2">
    Option 2
  </mat-radio-button>
</mat-radio-group>

<mat-radio-group>
  <mat-radio-button value="1" checked="true" disabled>
    Option 1
  </mat-radio-button>
  <mat-radio-button value="2" disabled>
    Option 2
  </mat-radio-button>
</mat-radio-group>

<br /><br />
<mat-checkbox checked="true">
  Checkbox
</mat-checkbox>
<mat-checkbox>
  Checkbox
</mat-checkbox>
<mat-checkbox disabled checked="true">
  Checked disabled
</mat-checkbox>
<mat-checkbox disabled>
  Disabled
</mat-checkbox>

<br /><br />
<mat-slide-toggle>Toggle</mat-slide-toggle>

<mat-slide-toggle checked="true">Checked Toggle</mat-slide-toggle>

<mat-slide-toggle disabled="true">Disabled</mat-slide-toggle>

<mat-slide-toggle checked="true" disabled="true">
  Disabled checked
</mat-slide-toggle>

<br /><br />

<mat-slider max="10" min="1" step="2" thumbLabel="true"></mat-slider>

<h3>Menu</h3>
<p>To be added</p>

<h3>Annotations</h3>
<p>To be added</p>

<h3>Progress indicators</h3>
<p>To be added</p>

<h3>Tooltips</h3>
<p>To be added</p>

<h3>Alerts</h3>
<p>To be added</p>

<h3>Dialogs</h3>
<p>To be added</p>

<h3>Stepper</h3>
<p>To be added</p>

<h3>Cards</h3>
<p>To be added</p>

<h3>Tabs</h3>
<p>To be added</p>

<h3>Vertical nav</h3>
<p>To be added</p>
