// // .mat-card{

// //     border-radius: 100px;
// //     max-width: 20px;
// // }

// .forloop{
//     margin:2px;
// }

// .wrap {

//     margin: 60px 20px 20px 20px ;
//     padding: 0;
//     max-height:1920px;
//     max-width: 1680px;
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }

//   .wrap  li {
//     vertical-align: top; /* fallback*/
//     display: inline-block; /* fallback*/
//    // margin: 50px 1%;
//    margin-top: 45px;
//     display: flex;
//     flex-direction: column;
//     flex: 0 0 13%;
//     background: #fff;
//     transform: translateX(-50%) translateY(-50%);
//     .card-container {
//         cursor: pointer;
//         margin:10px;
//         height: 150px;
//         perspective: 600;
//         position: relative;
//         width: 150px;
//       }
//       .card {
//         background-color: rgb(240, 240, 240);
//         height: 100%;
//         max-height:110px;
//         margin-left: 10px;
//         margin-right:10px;
//         margin-bottom: -20px;
//         position: absolute;
//         transform-style: preserve-3d;
//         transition: all 1s ease-in-out;
//         width: 100%;
//       }
//       .card:hover {
//         transform: rotateY(180deg);
//       }
//       .card .front {
//        // background-image: url("../../../assets-webpacked/eurolife/eurolife.png");
//         backface-visibility: hidden;
//         border-radius: 6px;
//         height: 100%;
//         max-height:110px;
//         position: absolute;
//         overflow: hidden;
//         width: 100%;
//       }
//       .card .back {
//         background: #eaeaed;
//         color: rgba(244,155,180,1);
//         // line-height: 150px;
//         max-height:110px;
//         text-align: center;
//         transform: rotateY(180deg);
//       }
//   }

//   @media screen and (max-width: 1280px) {
//     .wrap li {
//       flex: 0 0 19%;
//     }
//   }

//   @media screen and (max-width: 1040px) {
//     .wrap li {
//       flex: 0 0 24%;
//     }
//   }

//   @media screen and (max-width: 860px) {
//     .wrap li {
//       flex: 0 0 30%;
//     }
//   }

//   @media screen and (max-width: 660px) {
//     .wrap li {
//       flex: 0 0 48%;
//     }
//   }

//   @media screen and (max-width: 480px) {
//     .wrap li {
//       flex: 1 0 100%;
//     }
//   }

@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/functions';

.example-card {
  max-width: 800px;
  height: 340px;
  cursor: pointer;
}

.card-header {
  padding-left: 10px;
  text-align: center;
}

// .card-text {
//   color: white;
//   font-size: 15px;
// }

.card {
  cursor: pointer;
  color: rgb(56, 59, 56);
  border-radius: unset;
  border: unset;
}

.conditional-hr:last-child{
  display: none;
}

.no-data-container{
  margin: 30px 0 140px 0;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #383b38;
}

.link-color{
  color: #0491DB;
}

.text-link{
  width: max-content;
  height: 20px;
}

.text-link:hover{
  border-bottom: 2px solid #0491DB;
}

.card:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}

.constractStatus {
  color: rgb(56, 59, 56);
  margin-bottom: 24px;
}

.life {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/icons-propeties-family-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.health {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/health-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.team {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/team.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.group {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/group.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.motor {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/car-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.house {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/house-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.savings {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/saving-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.otherpc {
  width: 70px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/icons-propeties-business-with-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.apple_wallet {
  width: 150px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/apple_wallet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.google_wallet {
  width: 150px;
  height: 70px;
  background: url("../../../../assets-webpacked/eurolife/google-wallet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.life_text {
  color: rgb(74, 82, 148);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.health_text {
  color: rgb(239, 51, 64);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.life_text {
  color: getColor(life);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.team_text {
  color: #21c4b5;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.group_text {
  color: getColor(health);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.motor_text {
  color: rgb(71, 148, 99);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.house_text {
  color: rgb(242, 177, 0);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.savings_text {
  color: rgb(0, 128, 148);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.otherpc_text {
  color: rgb(235, 125, 46);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.margin-bottom-fix{
  margin-bottom: 25px;
}

hr {
  margin: 0 0 1rem -15px;
  &:last-child(){
    visibility: hidden;
    margin: 0 0 1rem -10px;
  }
  @media screen and (min-width: 1024px){
    visibility: hidden;
  }
}

p {
  margin: 8px 0;
}

@media screen and (max-width: 580px) {
  p {
    margin-top: 0.1rem;
  }
}

.payment-btn{
  justify-content: center;
  display: flex;
}

.svg-label-container{
  margin: auto;
}

.right-card {
  min-height: 300px;
  background-color: rgb(238, 238, 238);
  // padding: 24px;
  // text-align: center;
}

.right-card-team-button {
  padding: 24px;
  // text-align: center;
}

// .health_svg {
//   svg {
//     path {
//       fill: rgb(239, 51, 64) !important;
//     }
//   }
// }

.life_svg {
  path {
    fill: getColor(life) !important;
  }
}

.card-body{
  margin-top: -20px;
}

.health_svg {
  path {
    fill: getColor(health) !important;
  }
}

.motor_svg {
  path {
    fill: getColor(motor) !important;
  }
}

.house_svg {
  path {
    fill: getColor(home) !important;
  }
}

.savings_svg {
  path {
    fill: getColor(finance) !important;
  }
}

.otherpc_svg {
  path {
    fill: getColor(sme) !important;
  }
}

.Mask {
  width: 103px;
  height: 25px;
  border-radius: 22px;
  background-color: rgb(193, 193, 193);
}

.Rectangle_unpaid {
  width: 103px;
  height: 25px;
  background-color: rgb(204, 4, 108);
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle_free {
  width: 103px;
  height: 25px;
  background-color: rgb(56, 59, 56);
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-padding{
  padding: 0 15px 0 15px;
}

.Rectangle_paid {
  width: 103px;
  height: 25px;
  background-color: rgb(43, 234, 155);
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle {
  width: 237px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #485294;
  display: flex;
  justify-content: space-between;
  fill: #485294;

  &:hover {
    fill: #ffffff;
  }
}

.payments {
  display: flex;
  justify-content: space-between;
  fill: #485294;

  &:hover {
    fill: #ffffff;
  }
}

.notification-bar-svg-warning {
  width: 34px;

  path {
    fill: rgb(204, 4, 108) !important;
  }
}

.notification-bar-svg-success {
  width: 34px;

  path {
    fill: rgb(43, 234, 155) !important;
  }
}

.notification-bar-svg-info {
  width: 34px;

  path {
    fill: #049ecc !important;
  }
}

.notification-bar-warning {
  // border-radius: 32px;
  background-color: rgba(204, 4, 108, 0.098);
  flex-wrap: nowrap;
  margin: auto;

  p {
    margin: 0;
  }
}

.notification-bar-info {
  // border-radius: 32px;
  background-color: rgba(4, 158, 204, 0.1);
  flex-wrap: nowrap;
  margin: auto;

  p {
    margin: 0;
  }
}

.notification-bar-success {
  // border-radius: 32px;
  background-color: rgba(43, 234, 155, 0.1);
  flex-wrap: nowrap;
  margin: auto;

  p {
    margin: 0;
  }
}

.eurolife_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stretched_btn {
  width: 285px;
}

.normal_btn {
  margin-bottom: 20px;
  margin-top: -20px;
  // margin-left: 30px;
  max-width: 281px;
  width: 100%;
  text-align: center;
}

.paymentCodeSection {
  margin-top: 30px;
}

.link-text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: rgb(56, 59, 56);
}

.svg-container {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 0 0 6px;
}

.header-container {
  align-items: center;
  margin-left: -13px;
}

.Caption3 {
  margin: 0;
}

.paid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-some-padding-mate {
  padding-right: 19px;
  padding-left: 10px;

  // @media screen and (max-width:993px) {
  //   min-height: 517px;
  // }
}

.remove-some-margin-mate {
  margin-left: -8px;
  
}

.icon-margin-fix{
  @media screen and (max-width: 575px) {
    margin-left: 14px;
  }
}

.free-of-charge {
  // width: 695px;
  height: 202px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: rgb(56, 59, 56);
}

.data-rows {
  &:first-child{
    @media screen and (max-width: 993px) {
      margin-top: 32px;
    }
  }
}

.label{
  margin-top: 13px;
}

.add-margin-mobile{
  margin-top: 20px;
}
// .notification-bar {
//   position: fixed;
//   bottom: 24px;
// }

.dafs-color {
  fill: #21c4b5;
  margin-left: 20px;
  margin-bottom: 5px;
}

.fa {
  color: #21c4b5 !important;
}

.mat-icon-button{

  border: none;
}

.disable-btn {
  cursor: not-allowed;
  pointer-events: none;
}

.button-spinner {
  margin-left: 20px;
  margin-bottom: 5px;
}

.spinner{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 0.8 !important;
}

.loading-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -25.95px 0 0 -25.95px;  
  height:51.9px;
  width:51.9px;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left:3px solid #fac4b0;
  border-right:3px solid #fac4b0;
  border-bottom:3px solid #fac4b0;
  border-top:3px solid #ef3340;
  border-radius:100%;
  z-index: 1002;
}