<div class="row">
    <div class="eurolife-logo" >
        <img class="image-logo" [src]='LOGO' alt="EurolifeConnect" >
    </div>
</div>

<router-outlet></router-outlet>

<div class="container hide-container">
    <hr class="footerSignup">
    <div class="legal Typeface">
        <div class="left-container">
            <div class="Tag Typeface clickable" (click)="openDialog()">{{ oroiXrishs | resourcePipe }} | </div>
            <div class="Tag Typeface clickable" (click)="openDialogLegal()"> {{ prostasiadedomenwn | resourcePipe }}</div>
            <div class="Tag Typeface clickable" (click)="cookieClick()">{{ politikicookies | resourcePipe }}</div>
        </div>
        <div class="Tag Typeface copyright">{{ copyright | resourcePipe }}</div>
    </div>
  </div>