button {
    display: flex;
    align-items: center;

}
 
.left {
        flex-direction: row-reverse;
}

.button-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.clickable {
    cursor: pointer;
    margin-left: 23px;
}

.back-svg {
    transform: rotate(180deg);
}

.corporate_color {
    fill: #ef3340;
}

.motor_color {
    fill: rgb(71, 148, 99);
}