<div class="row centered">
    <div class="sign-up-container">
        <div class="circle">
            <div class="regCodeModal" aria-label="icon" [inlineSVG]="imageSource">
            </div>
        </div>
        <p class="h4">{{ title | resourcePipe }}</p>
        <div *ngIf="errorMsg !== '' " class="error-msg">{{errorMsg}}</div>
        <div *ngIf="successMsg !== '' " class="h6"> {{successMsg}}</div>
        <div class="container" *ngIf="!success">
            <div class="column form-group">



                <mat-form-field>
                    <!-- <label for="password">{{ newPasswordR | resourcePipe }}</label> -->
                    <mat-label>{{ newPasswordText | resourcePipe }}</mat-label>
                    <div class="groupping">
                        <input *ngIf="!showPassword" class="Caption1" id="password" type="password" matInput
                            placeholder="Πληκτρολογήστε το νέο σας password" name="password" [(ngModel)]="password"
                            (ngModelChange)="checkPasswordMatchRegex()" (ngModelChange)="checkPasswordMatchConfirm()">
                        <!-- <mat-label>{{ newPasswordText2 | resourcePipe }}</mat-label> -->
                        <input *ngIf="showPassword" class="Caption1" id="passwordcopy" type="text" matInput
                            placeholder="Πληκτρολογήστε ξανά το το password" name="password" [(ngModel)]="password">
                        <div class="eye-svg" aria-label="icon"
                            [inlineSVG]="'https://scp.eurolife.gr/~/media/C8DC57AED3BC40B38A65371B554A3A45.ashx'"
                            [onSVGLoaded]="handleEyeSVG" (mousedown)="onShowPassword(true)"
                            (mouseup)="onShowPassword(false)" (touchstart)="onShowPassword(true)"
                            (touchend)="onShowPassword(false)" ngbTooltip="Εμφάνιση κωδικού">
                        </div>
                    </div>
                </mat-form-field>

                <div class="password-strength-container">
                    <div *ngFor="let str of passwordStrength;let i=index;" [ngClass]="getStrengthColor(i)"
                        class="password-strength-line">
                    </div>

                    <div class="infobutton" aria-label="My icon" [inlineSVG]="imageSourceIcon"
                        [onSVGLoaded]="handleSVGInfo" ngbTooltip="Ο κωδικός θα πρέπει να είναι το λιγότερο 8 χαρακτήρες και να περιέχει τουλάχιστον
                        Κεφαλαία γράμματα (A-Z), Πεζά γράμματα (a-z), Αριθμούς ή/ και σύμβολα (όπως !, $, #, %)">
                    </div>
                </div>
                <div class="strength-text" [ngClass]="getStrengthColorText(passwordStrendthColor)">
                    {{getStrengthText(currentStrength)}}</div>
                <div class="note">
                    *Ο κωδικός θα πρέπει να είναι το λιγότερο 8 χαρακτήρες και να περιέχει τουλάχιστον
                        Κεφαλαία γράμματα (A-Z), Πεζά γράμματα (a-z), Αριθμούς ή/ και σύμβολα (όπως !, $, #, %)
                </div>

                <mat-form-field>
                    <!-- <label for="confirm-password">{{ newPasswordConfirm | resourcePipe }}</label> -->
                    <mat-label>{{ newPasswordConfirmText | resourcePipe }}</mat-label>
                    <input id="confirm-password" class="Caption1" type="password" matInput name="confirm-password"
                        placeholder="Πληκτρολογήστε ξανά το password" [(ngModel)]="confirmPassword"
                        (ngModelChange)="checkPasswordMatchConfirm()">
                </mat-form-field>
                <div *ngIf="!isPasswordConfirmed" class="error-msg">
                    {{errMsgPasswordMatch}}</div>

            </div>

            <div class="reg-code-modal-container">
                <div class="container">
                    <div class="row justify-content-center">
                        <button class="eurolife_btn eurolife_btn-default submit-btn" type="submit"
                            [disabled]="!isPasswordPassedRules || !isPasswordConfirmed"
                            (click)="onSubmit()">{{ next | resourcePipe }}
                        </button>
                    </div>

                    <div class="col-sm-12 modal-cancel-btn">
                        <a class="eurolife_btn-link cancel-color" (click)="onCancelClick()">{{ cancel | resourcePipe }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="reg-code-modal-container">
            <div class="row">
                <div class="col-sm-12">
                    <button class="eurolife_btn eurolife_btn-default submit-btn" type="submit" *ngIf="success"
                        (click)="onCancelClick()">{{ returnLogin | resourcePipe }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>