@import '~@angular/material/theming';

@mixin footer-mixin($theme) {
  footer {
    background-color: #243a76;
    max-width: 100%;
    width: 100%;

    .navigation-link:hover {
      text-decoration: underline;
    }

    > div {
      display: flex;
      height: auto;

      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;

      color: white;

      a {
        color: white;
        text-decoration: none;

        > img {
          filter: invert(100%);
        }
      }
    }
  }
}
