@import '~@angular/material/theming';

@mixin footer-mixin($theme) {
  $colors: map-get($theme, colors);
  $primary: map-get($theme, primary);

  footer {
    background-color: map-get($colors, 'header') !important;
    max-width: 100%;
    width: 100%;

    .navigation-link:hover {
      text-decoration: underline;
    }

    > div {
      display: flex;
      height: auto;

      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: stretch;

      color: white;

      a {
        color: white;
        text-decoration: none;

        > img {
          filter: invert(100%);
        }
      }
    }
  }
}
