.home-page-card {
    margin-bottom: 48px;
}

.grey-card {
    background-color: #eeeeee;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0 16px 16px;
}

.outer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-card-title {
    color: #383b38;
}

.chevron-right {
    padding-right: 8px;
}

.team-icon{
  width: 60px;
  height: 60px;
  background: url("../../../../assets-webpacked/eurolife/team.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 15px;
}