.lock_icon {
    fill: rgb(239, 51, 64);
}

.icon_container {
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 50%;
    height: 154px;
    width: 154px;
    background-color: rgb(252, 214, 217);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfound-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 115px 0 498px 0;
}

.second-msg-container{
    max-width: 543px;
    text-align: center;
    margin-top: 16px;
}

a{
    color: #d0021b;
}

