// .third-section {
// 	margin-top: 5px;
// 	margin-bottom: 25px;
// }
// .background-summary {
// 	background-color: darkblue;
// }
// .display-table-summary {
// 	display: table;
// 	background-color: darkblue;
// 	color: white;
// 	width: 100%;
// 	border-bottom: 3px solid lightblue;
// }
// .display-table-cell-summary {
// 	display: table-cell;
// 	vertical-align: middle;
// 	height: 70px;
// }
// .display-table {
// 	display: table;
// 	background-color: darkblue;
// 	color: white;
// 	width: 100%;
// 	min-height: 100px;
// }
// .display-table-cell {
// 	display: table-cell;
// 	vertical-align: middle;
// }
// .display-table-cell label{
// 	font-size: 25px;
// 	font-weight: bold;
// }

.no-padding{
    padding: 0;
}

a:link {
    background-color: transparent;
    text-decoration: underline;
}