@import '~@angular/material/theming';

@mixin spinner-mixin($theme) {
  $background: map-get($theme, background);
  $action: map-get($colors, 'action');

  .background {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
    background-color: mat-color($background, background);
    opacity: 0.4;
  }

  .spinner-container {
    position: fixed;
    top: 46%;
    left: 46%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1061;
  }

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $action;
  }
}
