@import 'default-material-theme';

/**
 * TIP: Include common styles here to be applied for the entire application
 */
$default-common: (
  colors: (
    'success': #408300,
    'success-light': rgba(#408300, 0.15),
    'warning': #996b0f,
    'warning-light': rgba(#996b0f, 0.15),
    'error': #c40404,
    'error-light': rgba(#c40404, 0.15),
    'info': rgba(#287ba4, 0.15),
    'action': #0d78c0,
    'header': rgba(50, 57, 74, 1),
    'header-hover': rgba(white, 0.083),
    'header-click': rgba(white, 0.244),
    'text': white,
    'text-disabled': rgba(211, 212, 214, 0.4),
    'title-disabled': rgba(#000000, 0.6),
    'navigation-line': rgba(211, 212, 214, 0.4),
    'background': rgb(37, 39, 52),
    'border': #ddd,
    'border-input': #919191,
    'light': #fff,
    'bubble-background': rgba(57, 64, 80, 1),
    'bubble-text': #a9eff2,
    'badge-1': #767676,
    'badge-2': #ca16c7,
    'badge-3': #673ab7,
    'badge-4': #8a2b00,
  ),
);

$dark-theme: map-merge($altTheme, $default-common);
