<ng-container *ngIf="show">
  <div class="eurolife-output" *ngIf="isOutput">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" *ngIf="label">
          <label class="label opacity" [ngClass]="labelClass">{{ policy | resourcePipe }}</label>
          <!-- <label class="label">{{ label }}</label> -->
        </div>
        <div class="col sm-9">
          <span class="value" [ngClass]="valueClass">{{getInsuranceDurationValue()}} {{ months | resourcePipe }}</span>
          <!-- <span class="value">{{ values }}</span> -->
        </div>
        <hr *ngIf="showhr">
      </div>
    </div>
  </div>
  <hr>
</ng-container>