<div class="modal-container">
  <div class="close-btn" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </div>
  <!-- <video width="100%" controls autoplay>
    <source src="https://www.youtube.com/embed/el82LJAMSAI" type="video/mp4">
    <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
  </video> -->
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/srMTu2vkdp8?autoplay=1" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe> -->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/sg3ongqXS_0" title="YouTube video player" frameborder="0"
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>